//- This shows the what’s next link automatically,
//- but probably needs to use a for loop instead of
//- a foreach so it can go to the next category

if next 
  p.center Next let's talk about 
    a(href="/docs/#{current.path[1]}/#{ nexturi }.html")= next
else if nextlvl
  p.center Next let's talk about 
    a(href="/docs/#{ nextpath }/")= nextlvl
